<div class="forgetPass_space"></div>
<div class="forgetPass">
	<h2>找回密码</h2>
	<form name='myForm' ng-model='myForm' novalidate>
		<input type="text" name="phone" ng-model='phone' placeholder="请输入您的手机号码" required ng-pattern='/^(1[^012][0-9]{9})$/' class="spell-input"><br>
		<div ng-show='myForm.phone.$dirty && myForm.phone.$error.required' class="to-wear">手机号是必填项</div>
		<div ng-show='myForm.phone.$error.pattern' class="to-wear">手机号码不正确</div>
		<div>
			<input type="text" class="keywords"  name="keywords" ng-model='keywords'  required placeholder="输入验证码">
			<button type="button" class="key-btn" ng-click='pushKey()'>{{getkeys}}</button>
		</div>
		<div class="to-wear" ng-show='myForm.keywords.$dirty && myForm.keywords.$error.required'>验证码错误，请重新输入！</div>

		<div class="gitPass"  ng-style='{background:myForm.$valid?"#2bde73":"#999"}'
		ng-click='nextState(myForm.$valid)'>下一步</div>

		<div class="footer">
			新用户？<a ui-sref='register'>立即注册</a>
		</div>
	</form>
</div>
<div class="forgetPass_space"></div>