<div class="personalSecurity" ng-init='security=["密码修改","实名认证","邮箱认证"]'>
	<header class="securiityHeader">
		<span ng-repeat="secu in security" ng-class="{activing:activeSpan==$index?true:false}" ng-click='selectClick($index)'>{{secu}}</span>
	</header>
	<div ng-show='activeSpan==0' class="first">
		<form name='myForm' ng-model='myForm' novalidate>
			<p>
				<span>当前密码</span>
				<input type="password" name="password" ng-model='password' required minlength="6">
			</p>
			<p>
				<span>新密码</span>
				<input type="password" name="newPassword" ng-model='newPassword' required minlength="6">
				（密码不小于6位）
			</p>
			<p>
				<span>已绑定手机</span>
				<span class="number">136****0800</span>
			</p>
			<p>
				<span>验证码</span>
				<input type="text" placeholder="输入验证码" class="getKey" ng-model='keyNumber' name="keyNumber" required>
				<button type="button" ng-click = 'getKeyNumber()'>{{getkey}}</button>
			</p>
			<span class="prompt" ng-show="(myForm.password.$dirty && myForm.password.$error.required || myForm.password.$dirty && myForm.password.$error.minlength) && input1">
				密码输入不正确！
			</span>
			<span class="prompt" ng-show="(myForm.newPassword.$dirty && myForm.newPassword.$error.required || myForm.newPassword.$dirty && myForm.newPassword.$error.minlength) && input1">
				密码不得小于6位！
			</span>
			<span class="prompt" ng-show="(myForm.keyNumber.$dirty && myForm.keyNumber.$error.required || myForm.keyNumber.$dirty && myForm.keyNumber.$error.minlength) && input1">
				验证码错误，请重新输入！
			</span>
		</form>
		<div ng-click="promptFn()">保存</div>
	</div>
	<div ng-show='activeSpan==1' class="second">
		<header>身份证认证由NCIIC提供接口</header>
		<form name='myForm1' ng-model='myForm1' novalidate>
			<p>
				<span>姓名</span>
				<input type="text" name="name" ng-model='name' required minlength="2">
			</p>
			<p>
				<span>身份证号</span>
				<input type="text" name="id" ng-model='id' required ng-pattern='/^[1-9]\d{7}((0\d)|(1[0-2]))(([0|1|2]\d)|3[0-1])\d{3}$|^[1-9]\d{5}[1-9]\d{3}((0\d)|(1[0-2]))(([0|1|2]\d)|3[0-1])\d{3}([0-9]|X)$/' >
			</p>
			<span class="prompt" ng-show="(myForm1.name.$dirty && myForm1.name.$error.required || myForm1.name.$dirty && myForm1.name.$error.minlength) && input2">
				请正确填写姓名！
			</span>
			<span class="prompt" ng-show="(myForm1.id.$dirty && myForm1.id.$error.required || myForm1.id.$dirty && myForm1.id.$error.pattern) && input2">
				请输入正确的身份证号码！
			</span>
			<div ng-click="promptFn1()">保存</div>
		</form>
	</div>
	<div ng-show='activeSpan==2' class="last">
		<form name='myForm2' ng-model='myForm2' novalidate>
			<p>
				<span>邮箱地址</span>
				<input type="text" name="email" ng-model='email' required ng-pattern='/^([a-zA-Z0-9]+[_|\_|\.]?)*[a-zA-Z0-9]+@([a-zA-Z0-9]+[_|\_|\.]?)*[a-zA-Z0-9]+\.[a-zA-Z]{2,3}$/'>
			</p>
			<p>
				<span>验证码</span>
				<input type="text" name="keywords" ng-model='keywords' required minlength="4">
				<button type="button" ng-click="getKeyWords()">{{clickBtn}}</button>
			</p>
			<span class="prompt" ng-show="(myForm2.email.$dirty && myForm2.email.$error.required || myForm2.email.$dirty && myForm2.email.$error.pattern) && input3">
				请输入正确的邮箱地址！
			</span>
			<span class="prompt" ng-show="(myForm2.keywords.$dirty && myForm2.keywords.$error.required || myForm2.keywords.$dirty && myForm2.keywords.$error.minlength) && input3">
				验证码错误！
			</span>
			<div ng-click="promptFn2()">保存</div>
		</form>
	</div>
</div>