<div class="register-space"></div>
<div class="register">
    <h2>注册</h2>
    <form name='myForm' ng-model='myForm' novalidate>
        <input type="text" name="phone" ng-model='phone' placeholder="请输入您的手机号码" required ng-pattern='/^(1[^012][0-9]{9})$/' class="spell-input">
        <br>
        <div ng-show='myForm.phone.$dirty && myForm.phone.$error.required' class="to-wear">手机号是必填项</div>
        <div ng-show='myForm.phone.$error.pattern' class="to-wear">手机号码不正确</div>
        <div>
            <input type="text" class="keywords" name="keywords" ng-model='keywords' required placeholder="输入验证码">
            <button type="button" class="key-btn" ng-click='pushKey()'>{{getkey}}</button>
        </div>
        <div class="to-wear" ng-show='myForm.keywords.$dirty && myForm.keywords.$error.required'>验证码错误，请重新输入！</div>
        <input type="password" name="passw" ng-model='passw' placeholder="请输入大于6位的密码" required minlength="6" class="spell-input">
        <br>
        <div ng-show='myForm.passw.$dirty && myForm.passw.$error.required || myForm.passw.$dirty && myForm.passw.$error.minlength' class="to-wear">请输入大于六位的密码！</div>
        <div class="pres" ng-style='{background:myForm.$valid?"#2bde73":"#999"}' ng-click="goToLogin(myForm.$valid)">注册</div>
        <div class="remeber">
            <span class="rem_span" ng-click='spanBgFn()' ng-class='{rem_span_click:showspan==1?true:false}'></span>
            <a href="#">同意《全民创造用户协议》</a>
        </div>
        <div class="other-login clear">
            <p class="left"></p>第三方登录
            <p class="right"></p>
        </div>
        <div class="img-div">
            <a href="#"><img src="images/wechaticon.png" alt=""></a>
            <a href="#"><img src="images/qqicon.png" alt=""></a>
            <a href="#"><img src="images/sinnaicon.png" alt=""></a>
        </div>
        <div class="footer">
            已有账户？<a ui-sref='login'>登录</a>
        </div>
    </form>
</div>
<div class="register-space"></div>
